In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd=pd.read_excel("Dataset/dataset.xlsx")

In [4]:
pd.head()

,Epic-1,Satirical-1,Lyric-Rom-1,Epic-2,Didactic-1,Idyllic-1,Satirical-2,Lyric-Sad-1,Didactic-2,Idyllic-2,Lyric-Sad-2,Lyric-Rom-2,Gender,Age
0,2,9,3,2,8,9,13,3,6,3,1,2,1,21
1,2,13,5,2,5,6,5,6,6,9,2,2,1,22
2,13,2,2,10,2,2,2,2,6,9,8,7,1,21
3,13,5,8,2,2,6,3,9,7,2,12,3,1,21
4,13,6,5,1,2,2,5,9,2,9,10,2,1,20